@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: 'Roboto';
    src: url(/isteWebsite/src/assets/fonts/Roboto/Roboto-Regular.ttf);
  }
} */

html::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-2%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(2%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fadeInLeftAnimation {
  animation: fadeInLeft 0.5s forwards;
}

.fadeInRightAnimation {
  animation: fadeInRight 0.5s forwards;
}

.fadeInAnimation {
  animation: fadeIn 0.55s forwards;
}

.president_eb_ec {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex: 1 0 max-content;
  aspect-ratio: 1;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 7rem 4rem;
  column-gap: 5rem;
  width: clamp(48rem, 100%, 100vw);
  text-align: justify;
  margin: auto;
  /* height: 100vh; */
}

.president_card {
  background-color: black;
  width: 100%;

  display: flex;
  column-gap: 2rem;

  transition-duration: 300ms;
}

.president_card:hover {
  background-color: rgb(55 65 81 / 0.2);
  transform: scale(1.05);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media (width <= 768px) {
  .president_card {
    flex-direction: column;
  }
}

.president_image {
  aspect-ratio: 1;
  width: 100%;
  object-fit: contain;
  max-height: 18rem;
}

.president__cards {
  background-color: black;
  column-gap: 4rem;
  width: 100%;

  display: flex;
  column-gap: 2rem;
}

@media (width <= 1300px) {
  .president__cards {
    flex-direction: column;
    row-gap: 5rem;
  }
}

/* flex justify-center bg-black flex-col gap-y-20 items-center  py-28 px-16 mt-[500px] lg:mt-[150px] */
